h1 {
    font-family: "Times New Roman";
    font-size: 50px;
}

#p1 {
    color: #1d68a7;
    font-weight: bold;
}

#p2 {
    color: #2fa360;
    font-family: Arial;
    font-style: italic;
}

#p3 {
    font-family: "Times New Roman";
    font-style: italic;
    background-color: #95999c;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding-bottom: 20px;

}

td, th {
    border: 2px solid #4aa0e6;
    text-align: center;
    padding: 8px;
}

td {
    color: black;
    font-size: large;
}

tr:nth-child(even) {
    background-color: #b0d4f1;
}
