h1 {
    font-family: "Times New Roman";
    font-size: 50px;
}

#p1 {
    color: #1d68a7;
    font-weight: bold;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid #4aa0e6;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #b0d4f1;
}
